*{
    box-sizing: border-box;
}
body{margin: auto;font-family: calibri;}
#slider .container-fluid{
    padding: 0 15px;
}
#slider .slider-inner{
    padding: 0;
}
.slider-inner .item img{
    display: block;
    width: 100%;
    height: auto;
}
.slider-inner h1{
    color: purple;
}
