@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  list-style-type: none;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  padding: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
}

img {

}

nav {
  font-size: 1.75rem;
  text-align: center;
  color: black;
  text-decoration: none;
}

header {
  border-bottom: 1px solid red;
  margin-bottom: .5rem;
}

li {
  text-align: center;
  display: inline;
  text-decoration: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: red;
  letter-spacing: 0.01rem;
}

h2 {
  font-size: 1.55rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .25rem;
  margin-top: .25rem;
  padding: .25rem 0;
  line-height: 1.85rem;
  color: red;
}

h3 {
  Font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.55rem;
  line-height: 1.85rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
}

h5 {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

h6 {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

p {
  line-height: 1.5rem;
  font-size: 16px;
}

footer {
  border-top: solid 1px red;
}

.site-logo-image {
  padding-left: .5rem;
  width: 100%;
  align-items: flex-start;
}

.pagenav--items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: red;
  font-size: 120%;
  text-align: left;
}

a.navigation-button {
  margin-bottom: .5rem;
}

.desktop-pagenav-button:hover {
  transform: scale(1.2);
  border-bottom: 3px solid red;
}

h2.masthead-text {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  padding: 1%;
  margin: 0;
  margin-bottom: .25rem;
  position: relative;
  font-weight: 300;
  color: red;
  justify-content: center;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 0.01rem;
}

.masthead-text-box {
  background-color: black;
}

@-webkit-keyframes colorchange {
  0% {
    background-color: #A5FB4A;
  }

  10% {
    background-color: #8e44ad;
  }

  20% {
    background-color: #1abc9c;
  }

  30% {
    background-color: red;
  }

  40% {
    background-color: #A5FB4A;
  }

  50% {
    background-color: #8AFAFF;
  }

  60% {
    background-color: red;
  }

  70% {
    background-color: #6A76B8;
  }

  80% {
    background-color: #f1c40f;
  }

  90% {
    background-color: #8AFAFF;
  }

  100% {
    background-color: pink;
  }
}

@-webkit-keyframes masthead-text {
  0% {
    -moz-transform: translateX(25%);
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.artist-footer-details {
  font-weight: 500;
  color: red;
  font-size: 2.5rem;
  margin-top: .75rem;
  padding-top: 1.75rem;
  margin-bottom: .5rem;
  font-style: italic;
}

h3.artist-footer-detail {
  font-weight: 700;
  color: red;
  line-height: 1;
  font-size: 2.5rem;
}

h4.artist-footer-detailing {
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: .75rem;
}

.project-box {
  width: 360px;
  height: 275px;
overflow: hidden;
margin-bottom: .75rem;
}

.project-box-square {
  width: 360px;
  height: 360px;
overflow: hidden;
margin-bottom: .75rem;
}

.project-box-text {
  padding: 0 .75rem;
  z-index: 11;
}

h2.project-title {
  line-height: 2.25rem;
}

.project-img {
  width: auto;
  height: 275px;
z-index: 1;
}

.img-centered {
  display: flex;
  background-size: cover;
align-items: center;
justify-content: center;
text-align: center;
z-index: 1;
}

.project-img-small {
  padding-right: .5rem;
  margin-top: 1rem;
}

.mainpg-img {
  position: relative;
bottom: 100px;
overflow: hidden;
}

.top-section {
  margin-top: 4%;
  border-top: 1px solid red;
}

.highlighted {
  background-color: white;
  z-index: 3;
  padding: .25rem .5rem;
}

p.project-description-text {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 2.5%;
}

h3.buy-shape-text {
  font-weight: 700;
}

a.more-info-button:hover {
  background-color: black;
}

h2.section-titles {
  font-size: 2rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
  margin-top: .75rem;
  line-height: 1.5rem;
  color: red;
}

h2.section-titles:after {
  background-color: red;
}

span.highlight {
  background-color: yellow;
}

.scroll-transition-fade {
  transition: transform 1s ease-in-out, opacity .8s ease-in-out;
}

.copyright-information {
  color: red;
  text-align: left;
  margin-top: 2rem;
  font-weight: 300;
}

h4.more-info-text {
  font-weight: 300;
  color: white;
  background-color: red;
  text-align: center;
  align-items: flex-end;
  position: relative;
  padding: 2.5px;
  padding-right: 5px;
  bottom: 75px;
  right: 10%;
  font-size: .75rem;
  margin-top: .25rem;
  border: solid 1px white;
  box-shadow: 2px 2px 12px grey;
  margin-bottom: -35px;
  z-index: 11;
}

h4.more-info-text:hover {
  color: red;
  background-color: white;
  border: solid 1px red;
}

p.project-item-rationale {
  padding-bottom: .75rem;
  padding-top: .25rem;
}

.business-objectives {
  padding-top: .5rem;
  margin-bottom: .25rem;
}

.red {
  color: red;
}

h4.business-objective-title {
  font-size: 1.55rem;
  line-height: 1.5rem;
}

h4.rationale-title {
  padding: .25rem 0;
  font-size: 1.55rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

h3.project-description-subtitle {
  font-size: 115%;
  line-height: 125%;
  font-weight: 500;
  margin-bottom: .75rem;
}

.bold {
  font-weight: 600;
  font-size: 115%;
  line-height: 125%;
}

h2.page-title {
  font-size: 1.55rem;
  font-weight: 700;
  line-height: 1.85rem;
}

.top-spacing {
  padding-top: 1rem;
}

.border-bottom {
  border-bottom: solid 1px red;
}

.navigation-button-tablet {
  height: auto;
  width: 75%;
}

.navigation-button-tablet-inner {
  position: relative;
  right: 1rem;
  bottom: 5px;
  height: auto;
  width: 75%;
}

.tablet-navigation-button {
  align-items: center;
}

.navigation-desktop {
  display: none;
}

.download-arrow {
  position: relative;
  bottom: 370.5px;
  left: 258.5px;
  width: 90%;
  height: auto;
}

img.download-arrow-img {
  background-color: white;
  padding: .25rem;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  border-right: 2px solid red;
  width: 90%;
  height: auto;
}

img.download-arrow-img:hover {
  background-color: black;
}

.is-active {
  transform: scale(1.2);
  border-bottom: 9px solid red;
  font-style: italic;
}

h3.contact-details {
  font-size: 1rem;
}

.contact-page-form {
  padding-left: 1.6rem;
}

.contact-page-details {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
}

label.contact-form {
  margin-top: .5rem;
  font-weight: 500;
  font-family: inherit;
  color: red;
}

.contact-form-fieldset {
  padding-right: 1.1rem;
}

input {
  border: 1px solid red;
  margin-top: .25rem;
  margin-bottom: .5rem;
  padding: .25rem;
  width: 75%;
}

textarea {
  border: 1px solid red;
  margin-top: .25rem;
  margin-bottom: .5rem;
  padding: .25rem;
  width: 100%;
  height: 150px;
}

button.submit-button {
  font-weight: 500;
  font-style: italic;
  margin-right: 0;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  height: 60px;
  width: 110px;
  background-color: red;
  padding-left: .25rem;
  padding-right: .25rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

button.submit-button:hover {
  border: solid 1px red;
  color: red;
  background-color: white;
}

.submit-button {
  position: relative;
  top: 1.5px;
  font-size: 1.75rem;
}

a.photographer-link {
  font-weight: 500;
  font-size: 110%;
}

a.photographer-link:hover {
  color: red;
}

.socialmedia-item {
  margin-bottom: .25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.social-media-icons {
  width: 55%;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  h5 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  header {
    border-bottom: 1px solid red;
    padding-top: .5rem;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
  }

  .project-box {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-right: .75rem;
    width: 384px;
    height: 540px;
  }

  .project-item-rationale {
    padding-right: 3rem;
  }

  h4.business-objective-title {
    font-size: 2rem;
    line-height: 2rem;
  }

  h4.rationale-title {
    padding: .5rem 0;
    font-size: 2rem;
    line-height: 2rem;
  }

  .artist-bio-image {
    position: relative;
    top: -188px;
    right: 105px;
    height: auto;
    width: 215px;
    z-index: -1;
  }

  .tablet-navigation-button {
    display: block;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .navigation-button-tablet {
    width: 100%;
    height: auto;
  }

  .mobile-navigation-button {
    display: none;
  }

  .navigation-desktop {
    display: none;
  }

  .download-arrow {
    position: relative;
    bottom: 454.5px;
    left: 313px;
  }

  h3.contact-details {
    font-size: 1.4rem;
  }

  .contact-page-form {
    padding-left: 2.8rem;
  }

  .contact-page-details {
    margin-top: 2rem;
    padding-left: 2.8rem;
  }

  label.contact-form {
    font-size: 1.4rem;
  }

  .contact-form-fieldset {
    padding-right: 1.1rem;
  }

  input {
    margin-bottom: .75rem;
  }

  textarea {
    margin-bottom: .75rem;
  }

  button.submit-button {
    font-size: 170%;
    height: 70px;
    width: 100px;
  }
}

@media screen and (min-width: 1200px) {
  h5 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .project-box {
    padding-top: .25rem;
    width: 640px;
    height: 540px;
  }

  .pagenav-item {
    margin-left: 32px;
  }

  .desktop-pagenav-button {
    font-size: 1.8rem;
    display: inline;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0px;
    padding-bottom: 2.5px;
  }

  .pagenav-button:hover {
    transform: scale(1.2);
    border-bottom: 9px solid black;
  }

  .tablet-navigation-button {
    display: none;
  }

  .mobile-navigation-button {
    display: none;
  }

  .navigation-desktop {
    display: flex;
    justify-content: flex-end;
  }

  button.submit-button {
    font-size: 190%;
    height: 60px;
    width: 180px;
    padding-top: .75rem;
  }

  .download-arrow {
    position: relative;
    bottom: 505.5px;
    left: 352px;
  }

  img.download-arrow-img {
    padding: .5rem;
    border: 3px solid red;
    width: 95%;
    height: auto;
  }

  h3.contact-details {
    font-size: 1.6rem;
  }

  .contact-page-form {
    padding-left: 2.6rem;
  }

  .contact-page-details {
    padding-left: 2rem;
  }
}

.img--landscape {
  width: 100%;
}

.img--portrait {
  height: 100%;
}

/* container elements */
.container {
  margin-left: auto;
  margin-right: auto;
}
