@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|Chonburi|Poppins:300,300i,400,400i,500,500i,600,700,700i&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  list-style-type: none;
}

html {
  font-size: 16px;
  line-height: 1.5rem;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  font-size: 1.75rem;
  text-align: center;
  color: black;
  text-decoration: none;
}

header {
  margin-bottom: .5rem;
  color: #1E1E1E;
  padding-top: .5rem;
}

li {
  text-align: center;
  display: inline;
  text-decoration: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  font-family: 'Poppins', sans-serif;
  padding-top: 4px;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .25rem;
  margin-top: .25rem;
  padding: .25rem 0;
  line-height: 1.6rem;
}

h3 {
  Font-size: 1rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.35rem;
  line-height: 1.75rem;
  margin-bottom: .5rem;
}

h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
}

h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

p {
  line-height: 1.65rem;
  font-size: 19px;
  font-family: 'Muli', sans-serif;
  font-weight: 500;
}

footer {
  margin-top: 1.4rem;
  padding-top: .5rem;
}

p.body-text {
  text-align: left;
  margin-bottom: .75rem;
  padding: 0 6px;
}

.site-logo-image {
  width: 85%;
  align-items: flex-start;
  margin-bottom: -.5rem;
  margin-top: 0.25rem;
  font-weight: 700;
}

.masthead-row {}

.pagenav--items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: grey;
  font-size: 100%;
  text-align: left;
}

p.art-details {
  padding: 5px 2.5px;
}

.top-margin {
  margin-top: 2rem;
}

.inline {
  display: inline-block;
}

a.navigation-button {
  margin-bottom: .5rem;
}

.desktop-pagenav-button:hover {
  font-style: italic;
  color: black;
}

p.site-logo {
  font-weight: 700;
  font-size: 21px;
}

.green-line {
  width: 5px;
  height: 10px;
  background-color: #00ff97;
}

h2.masthead-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  padding: 1% 0;
  margin: 0;
  margin-bottom: .25rem;
  font-weight: 400;
  justify-content: center;
  text-align: left;
  line-height: 1.25;
  letter-spacing: 0.01rem;
}

.padding-right {
  padding-right: .5rem;
}

.masthead-text-box {}

.bottom-margin {
  margin-bottom: .5rem;
}

@-webkit-keyframes colorchange {
  0% {
    color: #A5FB4A;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: red;
  }

  40% {
    color: #A5FB4A;
  }

  50% {
    color: #8AFAFF;
  }

  60% {
    color: red;
  }

  70% {
    color: #6A76B8;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #8AFAFF;
  }

  100% {
    color: pink;
  }
}

@-webkit-keyframes masthead-text {
  0% {
    -moz-transform: translateX(25%);
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.artist-footer-details {
  font-weight: 700;
  color: black;
  font-size: 2rem;
  margin-top: .5rem;
  padding-top: .5rem;
  margin-bottom: .5rem;
}

h3.artist-footer-detail {
  font-weight: 700;
  color: black;
  line-height: 1;
  font-size: 2.2rem;
}

h4.artist-footer-detailing {
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: .8rem;
  color: #00ff97;
  filter: brightness(.75);
}

.project-box {
  display: block;
  background-color: #f1f7f0;
  color: black;
  margin-top: .75rem;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to right, #00ff97 50%, #f1f7f0 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.project-box:hover {
  background-position: left bottom;
}

.green {
  color: #00ff97;
  font-weight: 700;
  filter: brightness(.9);
}

.orange {
  color: #ef9221;
}

.blue {
  color: #0080b9;
}

.magenta {
  color: #e63494;
}

.red {
  color: #ee3439;
}

.yellow {
  color: #dbda42;
}

.biography-text-box {
  padding: .5rem;
  text-align: left;
}

.project-box-square {
  margin-bottom: .75rem;
}

.project-box-text {
  padding: 0 .75rem;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size:
}

.project-row {
  margin-top: .75rem;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
  display: block;
}

p.bio-body-text {
  text-align: left;
}

.black {
  color: black;
}

.coloured-section {
  background-color: #f9f9f9;
  padding: 0 .75rem;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border: solid 2px red;
  border-radius: 50%;
  display: inline-block;
}

.dot-outline {
  height: 15px;
  width: 15px;
  background-color: white;
  border: solid 2px red;
  border-radius: 50%;
  display: inline-block;
}

.skills-text {
  text-align: left;
}

.italic {
  font-style: italic;
}

.grey-updown-border {
  border-bottom: solid 1px grey;
  border-top: solid 1px grey;
  font-size: 2.1rem;
  line-height: 2.4rem;
  color: black;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem .5rem;
}

.green-underline {
  border-bottom: solid 2.5px #00ff97;
}

.red-border {
  border: solid 1px red;
  padding: 1.5rem;
}

.below-img-deatils {
  padding: 1.2rem 0;
}

h3.pullquote {
  font-size: 1.6rem;
  font-weight: 300;
  color: grey;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  margin-bottom: 1rem;
}

.pullqoute-box {
  font-size: 1.6rem;
  font-weight: 300;
  color: grey;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  margin-bottom: 1rem;
}

a.pagenav-button:hover {
  color: black;
  border-bottom: none;
}

h2.project-title {
  line-height: 1.3rem;
  margin-bottom: .4rem;
  margin-top: .75rem;
}

h4.related-project-title {
  line-height: 1.2rem;
  margin-bottom: 1rem;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

h4.related-project-title:hover {
  transform: scale(1.15);
}

.project-img {
  z-index: 1;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 2.5px;
  overflow: hidden;
}

.projectpg-img {
  z-index: 1;
  padding-left: 2.5px;
  padding-top: 2.5px;
  overflow: hidden;
  width: 100%;
}

.mainpg-container {
  padding: 0;
}

.mainpg-img {
  transition: all 0.5s ease-in-out;
}

.mainpg-img:hover {
  opacity: .9;
}

.project-img:hover {}

.img-centered {
  z-index: 1;
}

.project-img-small {
  padding-right: .5rem;
  margin-top: 1rem;
}

.right-img {
  padding-right: 5px;
}

.padding {
  padding: .25rem .5rem;
}

.top-section {
  margin-top: 4%;
  border-top: 1px solid red;
}

.highlighted {
  background-color: white;
  z-index: 3;
  padding: .25rem .5rem;
}

p.project-description-text {
  text-align: left;
  margin-bottom: 2.5%;
}

h3.buy-shape-text {
  font-weight: 700;
}

a.more-info-button:hover {
  background-color: black;
}

h2.section-titles {
  font-size: 1.75rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: 1.4rem;
  font-weight: 700;
}

h2.section-titles:after {
  background-color: red;
}

span.highlight {
  border-bottom: solid 1.5px #00ff97;
  border
}

.scroll-transition-fade {
  transition: transform 1s ease-in-out, opacity .8s ease-in-out;
}

.copyright-information {
  text-align: left;
  margin-top: 2rem;
  font-weight: 400;
}

h4.more-info-text {
  font-weight: 400;
  color: black;
  border: solid 1px black;
  text-align: center;
  align-items: flex-end;
  position: relative;
  padding: 5px;
  padding-right: 2.5px;
  padding-left: 2.5px;
  font-size: .8rem;
  margin-top: .25rem;
  z-index: 11;
  width: 100%;
  background-color: #f1f7f0;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(3px 3px 0.25rem grey);
}

h4.more-info-text:hover {
  font-style: italic;
  background-color: #00ff97;
  border: solid 1px black;
}

p.project-item-rationale {
  padding-bottom: .75rem;
  padding-top: .25rem;
  text-align: left;
}

.business-objectives {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.project-description-subheader {
  text-transform: uppercase;
  font-size: 125%;
  margin-top: 1rem;
  text-align: left;
}

h3.project-description-subheader {
  text-transform: uppercase;
  font-size: 160%;
  margin-top: 1rem;
  font-weight: 600;
  padding-bottom: .5rem;
  text-align: left;
}

.justify-content {
  justify-content: center;
}

.project-description-header-text {
  text-align: left;
  font-size: 24px;
  line-height: 1.5;
  padding-bottom: .5rem;
}

h4.business-objective-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

h4.rationale-title {
  font-size: 1.6rem;
  line-height: 1.95rem;
  font-weight: 600;
  padding-top: .5rem;
}

h3.project-description-subtitle {
  font-size: .85rem;
  line-height: 1.4rem;
  font-weight: 500;
  margin-bottom: .75rem;
  padding-bottom: .35rem;
  color: #000f10;
}

h2.bio-header-text {
  font-size: 1.20rem;
  line-height: 1.55rem;
}

.bio-top-section {}

.biography-img {
  align-items: center;
  overflow: hidden;
  justify-content: center;
  background-size: cover;
  margin: .75rem 0;
}

.biography-body-text {
  text-align: left;
}

.app-prototype {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 700;
}

h2.page-title {
  font-size: 1.55rem;
  font-weight: 700;
  line-height: 1.85rem;
}

h3.project-title-subheader {
  font-size: 115%;
  margin-bottom: 1rem;
}

.top-spacing {
  padding-top: 1rem;
}

.border-bottom {
  border-bottom: solid 1px red;
}

.navigation-button-tablet {
  height: auto;
  width: 75%;
}

.navigation-button-tablet-inner {
  position: relative;
  right: 1rem;
  bottom: 5px;
  height: auto;
  width: 75%;
}

h4.section-title {
  font-size: 1.75rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: 1.4rem;
  padding-bottom: .5rem;
  font-weight: 700;
}

h4.top-section-title {
  font-size: 1.75rem;
  line-height: 2rem;
  text-transform: uppercase;
  margin-top: .9rem;
  padding-bottom: .5rem;
  font-weight: 700;
}

.tablet-navigation-button {
  align-items: center;
}

.navigation-desktop {
  display: none;
}

.download-arrow {
  position: relative;
  bottom: 370.5px;
  left: 258.5px;
  width: 90%;
  height: auto;
}

img.download-arrow-img {
  background-color: white;
  padding: .25rem;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  border-right: 2px solid red;
  width: 90%;
  height: auto;
}

img.download-arrow-img:hover {
  background-color: black;
}

.is-active {
  transform: scale(1.2);
  border-bottom: 9px solid red;
  font-style: italic;
}

h3.contact-details {
  font-size: 1rem;
}

.contact-page-form {
  padding-left: 1.6rem;
}

.contact-page-details {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
}

label.contact-form {
  margin-top: .75rem;
  font-weight: 500;
  font-family: inherit;
}

.contact-form-fieldset {
  padding-right: 1.1rem;
}

input {
  border: 1px solid red;
  margin-top: .25rem;
  margin-bottom: 1rem;
  padding: .25rem;
  width: 75%;
}

textarea {
  border: 1px solid red;
  margin-top: .25rem;
  margin-bottom: .5rem;
  padding: .25rem;
  width: 100%;
  height: 150px;
}

button.submit-button {
  font-weight: 300;
  margin-right: 0;
  color: black;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  height: 60px;
  width: 110px;
  background-color: red;
  padding-left: .25rem;
  padding-right: .25rem;
  padding-top: .75rem;
  padding-bottom: 1rem;
  border: none;
}

button.submit-button:hover {
  border: solid 1px red;
  color: red;
  background-color: white;
}

.social-media-icon {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.social-media-icon:hover {
  transform: scale(1.25);
  background-color: #00ff97;
}

.submit-button {
  position: relative;
  top: 1.5px;
  font-size: 1.45rem;
}

a.photographer-link {
  font-weight: 500;
  font-size: 110%;
}

a.photographer-link:hover {
  color: red;
}

.flex {
  display: flex;
}

.flex-md {
  display: inherit;
}

.socialmedia-item {
  margin-bottom: .25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.padding {
  padding: .5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  h4 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: .9rem;
  }

  h5 {
    font-weight: bold;
    font-size: 1rem;
  }

  p {
    line-height: 1.9rem;
    font-size: 21px;
    font-family: 'Muli', sans-serif;
  }

  header {
    margin-bottom: .75rem;
    padding-top: .75rem;
  }

  h2.page-title {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .padding {
    padding: 1rem;
  }

  .padding-right {
    padding-right: 1rem;
  }

  .flex-md {
    display: flex;
  }

  .below-img-deatils {
    padding: 1.5rem 0;

  }

  h3.project-title-subheader {
    font-size: 145%;
    margin-bottom: 1.4rem;
    margin-top: .75rem;
  }

  .align-center {
    align-items: center;
    justify-content: center;
  }

  .project-box {
    display: flex;
  }

  .project-box:hover {}

  .project-item-rationale {
    padding-right: 3rem;
  }

  h2.project-title {
    line-height: 1.75rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
  }

  h2.bio-header-text {
    font-size: 1.55rem;
    line-height: 1.95rem;
  }

  h2.project-title:hover {
    transform: scale(1.15);
  }

  .business-objectives {
    padding-top: .5rem;
    padding-bottom: 1.75rem;
  }

  h3.artist-footer-detail {
    line-height: 1;
    font-size: 2.75rem;
  }

  h4.artist-footer-detailing {
    font-size: 1.7rem;
    padding-top: .5rem;
  }

  .biography-text-box {
    padding: .5rem 1.75rem;
    text-align: left;
  }

  .bottom-margin {
    margin-bottom: 1rem;
  }

  .top-margin {
    margin-top: 1.5rem;
  }

  .site-logo-image {
    margin-top: .6rem;
    margin-bottom: .2rem;
  }

  h4.business-objective-title {
    font-size: 1.30rem;
    line-height: 1.75rem;
  }

  h4.more-info-text {
    margin-top: 2.25rem;
    position: relative;
    color: black;
    background-color: #f1f7f0;
    border: solid 1px black;
    padding: 2.5px;
    padding-right: 2.5px;
    padding-left: 2.5px;
    font-size: .85rem;
    margin-top: 1rem;
    z-index: 11;
    width: 60%;
    left: 21%;
  }

  h4.rationale-title {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: .9rem;
    padding-top: 1rem;
    margin-top: .75rem;
  }

  h4.section-title {
    font-size: 2.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-top: 3.25rem;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
  }

  h4.top-section-title {
    font-size: 2.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
  }

  h3.project-description-subtitle {
    font-size: 92.5%;
    line-height: 130%;
    margin-bottom: .75rem;
    transition: all 0.3s ease-in-out;
  }

  h3.project-description-subtitle:hover {
    transform: scale(1.15);
  }

  h3.pullquote {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .pullqoute-box {
    font-size: 2.5rem;
  }

  .grey-updown-border {
    font-size: 3rem;
    line-height: 3.5rem;
    color: black;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 1rem;
  }

  h3.project-description-subheader {
    font-size: 190%;
    margin-top: 1rem;
    padding-bottom: .5rem;
  }

  .project-description-header-text {
    text-align: left;
    font-size: 27px;
    line-height: 1.5;
    padding-bottom: .75rem;
  }

  .artist-bio-image {
    position: relative;
    top: -188px;
    right: 105px;
    height: auto;
    width: 215px;
    z-index: -1;
  }

  .project-box-text {
    padding: 0 .75rem;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tablet-navigation-button {
    display: block;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .navigation-button-tablet {
    width: 100%;
    height: auto;
  }

  .mobile-navigation-button {
    display: none;
  }

  .navigation-desktop {
    display: flex;
    margin-top: .2rem;
  }

  p.site-logo {
    margin-right: 2rem;
    position: relative;
    bottom: 1.5px;
  }

  .desktop-pagenav-button {
    font-size: 1.2rem;
    display: inline;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 2.5px;
  }

  .download-arrow {
    position: relative;
    bottom: 454.5px;
    left: 313px;
  }

  h3.contact-details {
    font-size: 1.4rem;
  }

  .contact-page-form {
    padding-left: 2.8rem;
  }

  .contact-page-details {
    margin-top: 2rem;
    padding-left: 2.8rem;
  }

  h2.masthead-text {
    font-size: 2.2rem;
    justify-content: center;
    line-height: 1.25;
  }

  label.contact-form {
    font-size: 1.4rem;
  }

  .contact-form-fieldset {
    padding-right: 1.1rem;
  }

  input {
    margin-bottom: .75rem;
  }

  textarea {
    margin-bottom: .75rem;
  }

  button.submit-button {
    font-size: 170%;
    height: 70px;
    width: 100px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 1.2rem;
    margin-right: 2.3rem;
    padding-top: 6.5px;
  }

  h4 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.4rem;
    margin-bottom: .9rem;
    padding-top: 1.75rem;
    padding-bottom: .5rem;
  }

  h5 {
    font-weight: bold;
    font-size: 1.15rem;
    line-height: 1.85rem;
    margin-bottom: .5rem;
  }

  header {
    padding-right: 16px;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 2.2rem;
    font-size: 24px;
    font-family: 'Muli', sans-serif;
  }

  h4.rationale-title {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.4rem;
    margin-bottom: .5rem;
    padding-top: 1.75rem;
    padding-bottom: 0rem;
  }

  .project-box {}

  .pagenav-item {
    margin-left: 32px;
  }

  h2.page-title {
    font-size: 2.75rem;
    line-height: 2.9rem;
  }

  .padding-right {
    padding-right: 1.25rem;
  }

  .below-img-deatils {
    padding: 2rem 0;
  }

  .site-logo-image {
    margin-bottom: -.25rem;
    margin-top: .25rem;
  }

  h3.project-description-subtitle {
    font-size: 105%;
    line-height: 155%;
    margin-bottom: .75rem;
    transition: all 0.3s ease-in-out;
  }

  h2.project-title {
    line-height: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }

  h2.project-title:hover {
    transform: scale(1.15);
  }

  h2.masthead-text {
    font-size: 2.5rem;
    line-height: 1.35;
    letter-spacing: 0.01rem;
  }

  .top-section-title {
    margin-top: 0;
  }

  .project-description-subheader {
    text-transform: uppercase;
    font-size: 155%;
    margin-top: 1.5rem;
  }

  h3.project-description-subheader {
    font-size: 200%;
    margin-top: 1rem;
    padding-bottom: .5rem;
  }

  .project-description-header-text {
    text-align: left;
    font-size: 29px;
    line-height: 1.5;
    padding-bottom: 1rem;
  }

  .desktop-pagenav-button {
    font-size: 1.2rem;
    display: inline;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 2.5px;
    padding-top: 4px;
  }

  .pagenav-button:hover {
    transform: scale(1.2);
    border-bottom: 9px solid black;
  }

  .tablet-navigation-button {
    display: none;
  }

  .mobile-navigation-button {
    display: none;
  }

  .business-objectives {
    padding-top: .5rem;
    padding-bottom: 3rem;
  }

  .biography-text-box {
    padding: .5rem 3rem;
    text-align: left;
  }

  h3.artist-footer-detail {
    line-height: 1;
    font-size: 3.3rem;
  }

  h4.artist-footer-detailing {
    font-weight: 500;
    font-size: 2.2rem;
    padding-top: 1.25rem;
  }

  h2.bio-header-text {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }

  p.site-logo {
    margin-right: 2rem;
    position: relative;
  }

  h4.more-info-text {
    position: relative;
    font-size: .85rem;
    margin-top: 1rem;
    z-index: 11;
    width: 60%;
    left: 21%;
    top: 50px;
  }

  .navigation-desktop {
    display: flex;
    margin-top: 0rem;
  }

  button.submit-button {
    font-size: 190%;
    height: 60px;
    width: 180px;
    padding-top: .75rem;
  }

  .download-arrow {
    position: relative;
    bottom: 505.5px;
    left: 352px;
  }

  img.download-arrow-img {
    padding: .5rem;
    border: 3px solid red;
    width: 95%;
    height: auto;
  }

  h3.contact-details {
    font-size: 1.6rem;
  }

  .contact-page-form {
    padding-left: 2.6rem;
  }

  .contact-page-details {
    padding-left: 2rem;
  }
}

.img--landscape {
  width: 100%;
}

.img--portrait {
  height: 100%;
}

/* container elements */
.container {
  margin-left: auto;
  margin-right: auto;
}
